/*-------------
 	General
-------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

body {
  perspective: 1px;
  -webkit-perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow-y: auto;
  overflow-x: hidden !important;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

a.btn {
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #2196f3;
  font-weight: 800;
  text-align: center;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 125px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

section h3.title {
  color: #414a4f;
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 820px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------
 	Header
-------------*/

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/*----------------
 	Hero Section
----------------*/

.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #000000;
  z-index: -1;
}
/* .our-work .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
} */

.hero .background-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f272b;
  opacity: 0.8;
}

.hero .hero-content-container {
  display: flex;
  flex-direction: row;
  max-width: 36rem;
  width: 100%;
  padding: 0 0 2em 0;
  justify-content: space-between;
}

.hero .profile-image-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-image-container .profile-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  transform: scale(1.1);
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.btn-social-icon {
  height: 4rem;
  width: 13rem;
  padding: 0 24px 0 0;
  border-radius: 5px;
  font: bold 24px "Open Sans", sans-serif;
  text-align: right;
  line-height: 4rem;
}

.btn-social-icon > :first-child {
  text-align: left;
  padding-left: 30px;
  height: 36px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100% !important;
}

.social-btns-container {
  display: flex;
  flex-direction: row;
  width: 36rem;
  padding: 0 3rem 0 3rem;
  justify-content: space-between;
  height: min-content;
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h3 {
    font-size: 24px;
  }

  .hero a.btn {
    padding: 15px 40px;
  }

  .hero .hero-content-container {
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
  }

  .hero .social-btns-container {
    flex-direction: column;
    width: auto;
  }

  .hero .social-btns-container > a {
    margin-bottom: 30px;
  }
}

/*--------------------
 	Our Work Section
---------------------*/

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg1::after {
  background-image: url(../img/aenami.jpg);
}

.our-work-background-container {
  position: relative;
  z-index: 1;
  height: auto;
  overflow: hidden !important;
  perspective: inherit;
  transform-style: inherit;
}

/* .our-work-background-image {
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateZ(-1px) scale(1.2);
} */

.our-work-background-image {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* display: block; */
  background-size: cover;
  background-position-x: center;
  background-image: url(../img/man.jpg);
  transform: translateZ(-1.5px) scale(2.6);
  /* -webkit-transform: translateZ(-1px) scale(1.2); */
  z-index: -1;
}

.our-work-background-image-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
  transform: translateZ(-1.5px) scale(2.6);
}

section.оur-work h3.title,
.our-work-h3,
section.our-work > p {
  color: rgb(238, 238, 238) !important;
}

.our-work .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;

  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

.our-work .grid li.small {
  flex-basis: 40%;
}

.our-work .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 1000px) {
  .our-work .grid li.small,
  .our-work .grid li.large {
    flex-basis: 100%;
  }
}

/*----------------------
 	Features Section
----------------------*/

.features {
  background-color: #f7f7f7;
}

.features .grid li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}

.features .grid li i {
  font-size: 50px;
  color: #2196f3;
  margin-bottom: 25px;
}

.features .grid li h4 {
  color: #555;
  font-size: 20px;
  margin-bottom: 25px;
}

.features .grid li p {
  margin: 0;
}

.features p > i {
  font-family: inherit !important;
  font-size: inherit !important;
  color: #696969 !important;
}

@media (max-width: 1000px) {
  .features .grid li {
    flex-basis: 70%;
    margin-bottom: 65px;
  }

  .features .grid li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .features .grid li {
    flex-basis: 100%;
  }
}

/*--------------------
 	Reviews Section
--------------------*/

.svg-rev {
  transform: scaleX(-1);
}

.reviews {
  background-color: #fff;
  padding-top: 95px;
}

.reviews .title {
  margin-bottom: 100px;
  min-width: 300px;
}

.reviews .title-container {
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}

.reviews .title-leaves {
  max-height: 45px;
  padding: 2px 15px;
  color: #333;
}

.reviews .quote-container {
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  margin: 25px auto;
  position: relative;
  width: 85%;
}

.reviews .quote-text {
  display: flex;
  flex-direction: column;
  width: 40rem;
  right: 0;
  left: 0;
}

.reviews .author-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px 30px;
  background-size: cover;
  background-position-x: center;
}

.reviews .flex-right {
  justify-content: flex-end;
  text-align: right !important;
  align-self: flex-end;
}

.reviews .quote {
  text-align: center;
  width: max-content;
  max-width: 80%;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 15px;
  padding: 0;
}

.reviews .author {
  font-size: 16px;
  margin-bottom: 55px;
  width: max-content;
}

.reviews .author:last-child {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .reviews .title-leaves {
    max-height: 8vw !important;
  }

  .reviews .title {
    min-width: unset !important;
    max-width: 100px !important;
    font-size: 1.4rem !important;
    margin-bottom: 75px;
  }
}

@media (max-width: 1000px) {
  .reviews .quote {
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    text-align: center !important;
  }

  .reviews .quote-text {
    max-width: 30rem;
    width: 100%;
  }

  .reviews .author {
    font-size: 16px;
    justify-content: center;
    align-self: center;
    text-align: center !important;
  }

  .reviews .author-pic {
    position: relative;
  }

  .reviews .flex-right {
    justify-content: center;
    align-self: center;
    text-align: center !important;
  }

  .reviews .quote-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .reviews .author-pic {
    position: absolute;
  }

  .reviews .quote-text {
    position: relative;
    transform: translateX(160px);
  }

  .reviews .flex-right.author-pic {
    position: absolute;
  }

  .reviews .flex-right.quote-text {
    position: relative;
    transform: translateX(-165px);
  }
}

/*---------------------
 	Contact Section
---------------------*/

section.contact {
  background-color: #f7f7f7;
  padding: 125px, 80px !important;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  width: 80%;
}

.contact form input {
  padding: 15px;
  flex: 1;
  margin-right: 30px;
  font-size: 18px;
  color: #555;
}

.contact form .btn {
  padding: 18px 42px;
}

@media (max-width: 800px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

/*-------------
 	Footer
-------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}
